.products-main-content {
  padding: 20px;
  transition: all 0.3s ease;
}

.searchbar-container-products {
  width: 100%;
  max-width: 600px; 
  margin: 0 auto 30px auto; 
}

/* ESCRITORIO */
@media (min-width: 769px) {
  .products-main-content {
    margin-left: 300px; 
  }
}

/* MÓVIL Y TABLET */
@media (max-width: 768px) {
  .products-main-content {
    margin-left: 0;
    padding: 15px;
  }
  
  .searchbar-container-products {
    padding: 0 10px;
  }
}