.invoice-section {
  border-left: 5px solid #228be6;
  transition: all 0.2s ease;
}

.invoice-section:hover {
  border-left-width: 10px;
  background-color: var(--backgrounds);
}

.category-header {
  border-bottom: 1px solid var(--bordes);
  padding-bottom: 10px;
}

.grand-total-banner {
  border: 2px solid var(--mantine-color-blue-8);
  /* Efecto para que destaque sobre el resto */
}

@media (max-width: 768px) {
  .grand-total-banner h1 {
    font-size: 28px !important;
  }
}