.product-form-container {
  position: fixed;
  left: 0px;
  top: 79px;
  bottom: 0px;
  width: 300px;
  overflow-y: auto;
  z-index: 10;
  border-right: 1px solid var(--bordes);
}


@media (max-width: 768px) {
  .product-form-container {
    position: relative; 
    top: 0;
    width: 100%; 
    height: auto; 
    border-right: none;
    border-bottom: 1px solid var(--bordes);
    margin-bottom: 30px;
  }
}