.add-button {
    position: absolute;
    top: 80px;
    left: 0px;
}
.addButton {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 8px; 
  
  /* Tipografía Nexo */
  color: var(--mantine-color-blue-9);
  font-family: var(--mantine-font-family);
  font-size: var(--mantine-font-size-md);
  font-weight: 600;
  border-radius: var(--mantine-radius-sm);
  transition: all 0.2s ease;
}

.addButton:hover {
  background-color: rgba(0, 32, 77, 0.05); 
  transform: translateY(-1px);
}

.addButton:active {
  transform: translateY(0);
  background-color: rgba(0, 32, 77, 0.1);
}


.addButton svg {
  transition: transform 0.2s ease;
}

.addButton:hover svg {
  transform: scale(1.1);
}