:root {
	--bordes: var(--mantine-color-gray-4);
	--backgrounds: var(--mantine-color-white-8);
	--headerbc: var(--mantine-color-blue-9);
	--headerborder: var(--mantine-color-blue-9);
	--logobg: var(--mantine-color-white)
	
}

[data-mantine-color-scheme="dark"] {
	--bordes: var(--mantine-color-gray-8);
	--backgrounds: var(--mantine-color-black-2);
	--headerbc: var(--mantine-color-gray-9);
	--headerborder: var(--mantine-color-gray-9);
	--logobg: var(--mantine-color-gray-8)
}

.mi-contenedor-personalizado {
	background-color: var(--mantine-color-body);
	color: var(--mantine-color-text);
	border: 1px solid var(--mi-color-especial);
}
